.icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  cursor: pointer;
}
.day-picker {
  z-index: 2;
  margin-top: 5px;
  background-color: #fff;
  position: absolute;
  right: 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
p {
  margin: 0;
}
